body {
    text-align: center;
    padding-top: 20px;
    font-size: large;
    background-color: pink;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light_container {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    width: 120px;
    align-items: center;
}

.stop, .ready, .go {
    width: 100px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    border-radius: 50%;
    margin: 10px 0;
}

.button_container {
    margin-top: 20px;
}

button {
    height: 50px;
    width: 100px;
    font-size: large;
    margin: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#button1 {
    background-color: red;
    color: whitesmoke;
}

#button2 {
    background-color: yellow;
    color: darkred;
}

#button3 {
    background-color: green;
    color: whitesmoke;
}

button:hover {
    opacity: 0.8;
}
